.container {
  width: 50%;
  height: 50%;
  z-index: 99;
  position: fixed;
  top: 150px;
  left: 350px;
  background-color: rgb(50, 41, 41);
}

.formContainer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
