.container {
  width: 50%;
  height: 50%;
  z-index: 99;
  position: fixed;
  top: 150px;
  left: 350px;
  background-color: whitesmoke;

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .input {
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px;
    }
  }
}
