.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url("/culture-fit.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  font-size: 20px;
  .hello {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
  }
}
